{% extends "base.html" %} {% block style %}
<style>
  input,
  button,
  a {
    padding: 5px;
    margin: 2px;
  }
  input {
    outline: none;
    border-radius: 2px;
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
  }
</style>
{% endblock %} {% block content %}
<div class="content">
  <a href="{% url 'todo:index'%}" class="navigator">Cancel</a>
  <form method="POST">
    {% csrf_token %} {{form.as_p}}
    <button class="navigator" type="submit">Save</button>
  </form>
</div>
{% endblock %}
