{% extends "base.html" %} {% block style %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<style>
  .content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 1rem;
  }

  .content ul li input {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -125px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: brown;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    position: absolute;
    left: 70px;
    top: -10px;
    color: red;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stripe {
    text-decoration: line-through;
  }

  .list {
    padding: 1rem;
  }
</style>
{% endblock %} {% block content %}
<div class="content">
  <a href="{% url 'todo:create' %}" class="navigator">Add Todo</a>
  {% if todos %}
  <div class="list">
    <ul>
      {% for todo in todos %}
      <li>
        {% if todo.done %}
        <a href="{% url 'todo:edit' todo.id %}" class="stripe"
          >{{todo.title}}</a
        >
        <input type="checkbox" class="checkbox" data-id="{{todo.id}}" checked />
        {% else %}
        <a href="{% url 'todo:edit' todo.id %}" class="">{{todo.title}}</a>
        <input type="checkbox" class="checkbox" data-id="{{todo.id}}" />
        {% endif %}
        <div class="btns">
          <form
            method="POST"
            action="{% url 'todo:delete' todo.id %}"
            class="csrf-form"
          >
            {% csrf_token %}
            <button class="btn" type="submit">X</button>
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h2>No Todos >> <a href="{% url 'todo:create'%}">Add</a></h2>
  </div>
  {% endif %}
</div>
<script>
  const checkbox = document.querySelectorAll(".checkbox");
  const csrfForm = checkbox[0].parentElement.querySelector("form");

  checkbox.forEach((check) => {
    check.addEventListener("click", async (e) => {
      const stripElement = e.target.parentElement.children[0];
      const id = e.target.dataset.id;
      const form = new FormData(csrfForm);
      form.append("id", id);

      const setup = {
        method: "POST",
        body: form,
      };

      if (e.target.checked) {
        try {
          const data = await fetch("/todos/checker", setup);
          const { title, done } = await data.json();
          if (done) {
            stripElement.style.textDecoration = "line-through";
          }
        } catch (error) {
          console.log(error);
        }
      } else if (!e.target.checked) {
        try {
          const data = await fetch("/todos/checker", setup);
          const { title, done } = await data.json();
          if (!done) {
            stripElement.style.textDecoration = "none";
          }
        } catch (error) {
          console.log(error);
        }
      }
    });
  });
</script>
{% endblock %}
